@use "../../styles/partials/colors" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.next-videos-list {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  padding-top: 1rem;
  padding-bottom: 2.25rem;
  padding-right: 1rem;

  @include tablet {
    padding: $tablet-padding;
    padding-top: $tablet-space-between;
  }

  &__title {
    font-size: 13px;
    line-height: 18px;
    font-weight: 600;
    color: $silver;

    @include tablet {
      font-size: 14px;
      line-height: 22px;
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
  }

  > * {
    padding-left: 1rem;

    @include tablet {
      padding-left: 0;
    }
  }
}
