@use "./breakpoints" as *;

@mixin flex-center() {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin tablet {
  @media (min-width: $breakpoint-tablet) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $breakpoint-desktop) {
    @content;
  }
}
