$mobile-avatar-width: 2.25rem;
$mobile-avatar-height: 2.25rem;
$tablet-avatar-width: 2.5rem;
$tablet-avatar-height: 2.5rem;

$tablet-padding: 2.25rem;
$tablet-space-between: 1.5rem;

$desktop-space-between: 1.5rem;
$desktop-padding: 6rem;

$button-width-tablet-desktop: 9.375rem;