$avatar-width-mobile: 2.25rem;
$avatar-height-mobile: 2.25rem;
$avatar-width-tablet: 2.5rem;
$avatar-height-tablet: 2.5rem;

$tablet-padding: 2.25rem;
$tablet-space-between: 1.5rem;

$desktop-padding: 6rem;
$desktop-big-padding: 9rem;

$avatar-size-desktop: 48px;
$avatar-size-mobile: 36px;

$button-width-tablet-desktop: 9.3rem;