@use "./styles/partials/mixins" as *;
@use "./styles/partials/variables" as *;
@use "./styles/partials/breakpoints" as *;

.app {
  font-family: "AvenirNextLTPro", Arial, Helvetica, sans-serif;
  background-color: white;
  @include desktop {
    max-width: $breakpoint-desktop;
    margin: 0 auto;
    padding: auto;
  }
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
}
