@use "../../styles/partials/colors" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.comment-section {
  padding-top: 0;

  @include tablet {
  }

  @include desktop {
    width: 60%;
    align-self: center;
  }
}