@use "./styles/partials/mixins" as *;
@use "./styles/partials/variables" as *;

.app {
  font-family: "AvenirNextLTPro", Arial, Helvetica, sans-serif;
  background-color: white;
  display: flex;
  flex-direction: column;

  @include desktop {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  main {
    padding: 0 1rem;
    display: flex;
    flex-direction: column;

    @include tablet {
      padding: 0 $tablet-padding;
    }

    @include desktop {
      padding: 0 $desktop-padding;
      flex-direction: row;
    }
  }
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
}
