@use "../../styles/partials/colors" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;

.video-details {
  display: flex;
  flex-direction: column;
  padding: 1rem;

  > * {
    padding-top: 1rem;
  }

  > :first-child {
    padding-top: 0.5rem;
  }

  > :not(:last-child) {
    padding-bottom: 1rem;
    border-bottom: 1px solid $silver;
  }

  &__title {
    padding-top: 1.5rem;
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
  }

  &__info {
    display: flex;
    flex-direction: row;
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    > * {
      flex: 1;
    }
  }

  &__comments-counter {
    font-weight: 600;
  }

  &__info-section {
    display: flex;
    flex-direction: column;
    padding-right: 1rem;
    justify-content: space-between;
    color: $silver;

    > * {
      align-items: center;
      display: flex;
    }
  }

  &__like-icon {
    padding-right: 0.5rem;
  }

  &__channel {
    color: $black;
    padding-bottom: 1rem;
    font-weight: 600;
  }

  &__views {
    padding-bottom: 1rem;
  }

  &__description {
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
  }
  &__comments-counter{
    font-size: 13px;
    line-height: 18px;
    font-weight: 600;
  }
}
